.PostLink {
    color: var(--color-main);
    display: inline-block;
    font-family: var(--font-headline);
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem -0.5rem;
    padding: 0.5rem;
    text-decoration: none;

    &:hover,
    &:focus-visible {
        background-color: var(--color-main);
        color: var(--color-light);
        text-decoration: none;
    }
}

.PostLinkDate {
    font-family: var(--font-headline);
    font-weight: 700;
}
